@media only screen and (min-width:0px) and (max-width:567px){
    .carousel-item-inner h6{
        font-weight: bolder;
        font-family: 'Poppins', sans-serif;
        padding-top: 80px;
        text-transform: uppercase;
    }
    .carousel-item-inner h2{
        font-size: 40px;
        text-transform: uppercase;
    }
    .carousel-item-inner{
        width: 100%;   
        height: 450px;
        color: #fff;
        padding-top: 100px;
        text-align: center;
       }
       .about-inner{
        margin-top: 40px;
    }
    .about-inner h3{
        font-size: 30px;
        margin-bottom: 40px;
        margin-top: 40px;
    }
    .about-inner p{
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin-bottom: 40px;
        line-height: 30px;
    }
}